@{
    ViewData["Title"] = "Menu główne";
}

<div class="text-center">
    <h1 class="display-4 m-5">Zarządzanie firmą spedycyjną</h1>
    <a class="btn btn-primary m-3 p-3" asp-area="" asp-controller="Trucks" asp-action="Index" role="button">Wyświelt ciężarówki</a>
    <a class="btn btn-primary m-3 p-3" asp-area="" asp-controller="Trailers" asp-action="Index" role="button">Wyświtel przyczepy</a>
    <a class="btn btn-primary m-3 p-3" asp-area="" asp-controller="Users" asp-action="Index" role="button">Wyświetl użytkowników</a>
    <a class="btn btn-primary m-3 p-3" asp-area="" asp-controller="Assignment" asp-action="Index" role="button">Przypisz ciężarówkę do kierowcy</a>
    <a class="btn btn-primary m-3 p-3" asp-area="" asp-controller="AssignmentTrailers" asp-action="Index" role="button">Przypisz przyczepę do ciężarówki</a>
    </div>
</div>

